.list-group-item{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   
.desc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.descprice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-price{
    MARGIN:0PX;
}
.list-group-item img{
    width:40%;
}   
.button{
    margin: 20px 20px 0px 0px;
    display: flex;
    justify-content: end;
    align-items: end; 
    /* flex-direction: space-between;   */
}
.text h5{
    text-decoration-line: none;
    color:white;
    margin-left:30px;
}
.list-group{
    background-color: rgb(230, 230, 137);
    
}